@import url('https://fonts.googleapis.com/css?family=Chewy&display=swap');
html,
body {
    margin: 0;
    padding: 0;
}

@keyframes shake {
    10% {
        transform: scale(1.2) rotate(30deg);
    }
    20% {
        transform: rotate(-30deg);
    }
    30% {
        transform: rotate(20deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    90% {
        transform: rotate(-3deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}